body{
    background-image: url("../images/menubg.jpg");
    margin: 0;
    padding: 0;
    left: 0;
    right:0;
    top:0;
    overflow-x :hidden;
    background-repeat: no-repeat;
    background-size:cover;
    
}


.cadre-blanc2 {

    overflow: hidden;
    background-color: #6e6e6e;
    margin: 30px;
    border: 1px solid #f89494;
    border-radius: 20px;
    margin-bottom: 20px; 
    max-width: 400px;
    height: auto;
    text-align: center; 
    color : #c1c1c1;
    font-size:  20px;
    line-height: 20px;
    text-decoration: none;
    text-shadow: 1px 1px 1px #333;
    position: relative;
    word-wrap: break-word;
    max-height: 120%;
    
}

.conteneur-cadres {
    display: flex;
    margin-top:120px;
    margin-bottom: 30px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cadre-blanc2 img {

    margin: auto;
    width: 100%; /* Tu peux ajuster cette valeur selon tes besoins */
    height: 50%; /* Pour maintenir le ratio d'aspect */
    border-radius: 20px;
    object-fit: cover;

}

.cadre-blanc2 p {
    color: white; 
    text-align: center; 
    margin:20px;
    line-height: 120%;
    
}

.cadre-blanc2:hover{
    color : red;
    font-size:  20px;
    line-height: 20px;
    text-decoration: none;
    text-shadow: 1px 1px 1px #333;
    box-shadow: 5px 5px 5px #333;
    
} 



@media (max-width: 768px) {
    .conteneur-cadres {
        flex-direction: column;
        align-items: center;
    }
    .cadre-blanc2 {
        max-height: 1000px;
    }
}
