body * {
    transition: 0.5s;
}

.wrapper{
    min-height: calc(100vh - 140px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header {
    background-color: black;
    opacity: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 0;
    right: 0;
    top: 0;
}

h1 img {
    width: 300px;
    padding: 20px;
}

header nav {
    flex: 1;
}

nav {
    display: flex;
    flex: 7;
    align-items: center;
    justify-content: end;
    margin: 0;
    padding: 10px;
    list-style-type: none;
}

.pages {
    margin: 0;
    display: flex;
    text-decoration: none;
    padding: 10px;
}

li {
    list-style-type: none;
    border-right: 1px solid #e0e0e0;
    text-align: center;
    flex: 1;
}

li:not(:last-child) {
    border-right: none;
}

footer {
    flex: 1;
    background-color: #333;
    color: #c1c1c1;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

footer img {
    max-width: 50px;
    margin-right: 20px;
}

footer div {
    margin-left: auto;
}

@media(max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    h1 img {
        width: 200px;
        padding: 10px;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    .pages {
        margin-top: 10px;
    }

    footer {
        justify-content: center;
    }

    footer img {
        margin-right: 10px;
    }

    footer div {
        margin-left: 0;
    }
}

.nav-open {
    display: none;
}

.nav-close {
    display: none;
}

i {
    display: none;
}

nav a {
    color: #c1c1c1;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    margin: 0.3em;
    text-shadow: 1px 1px 1px #333;
}

nav a:hover {
    color: red;
}

a {
    transition-property: color;
    -webkit-transition-property: color;
    -moz-transition-property: color;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
}
